@font-face {
  font-family: 'BankGothic';
  src: url("../fonts/ufonts.com_bank-gothic-medium.ttf");
  src: url('../fonts/ufonts.com_bank-gothic-medium.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
