nav {
  font-family: "Lato", sans-serif;
  text-transform: uppercase; }
  nav ul {
    width: 100%;
    text-align: center;
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none; }
    nav ul li {
      display: inline-block;
      margin: 5px 15px;
      padding: 5px 10px; }
      nav ul li a {
        font-weight: 600;
        color: white;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        transition: all .2s; }
      nav ul li.active {
        border-bottom: 2px solid orange; }
      nav ul li:hover a, nav ul li:active a, nav ul li:focus a {
        color: #cc8400; }

.orbit-bullets li {
  background: #CCCCCC;
  cursor: pointer;
  display: inline-block;
  float: none;
  height: 0.5rem;
  margin-right: 6px;
  width: 0.5rem;
  border-radius: 1000px; }
  .orbit-bullets li.active {
    background: #999999; }

div.slider-nav span.right, div.slider-nav span.left {
  margin-top: -20px;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 40px;
  height: 90px; }

@font-face {
  font-family: 'BankGothic';
  src: url("../fonts/ufonts.com_bank-gothic-medium.ttf");
  src: url("../fonts/ufonts.com_bank-gothic-medium.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal; }

.parallax-window {
  min-height: 300px;
  background: transparent; }
  .parallax-window.low {
    min-height: 200px; }

.full-width {
  width: 100%; }

body {
  background-color: #111;
  color: white; }

section {
  margin-top: 40px; }

p {
  font-size: 14px;
  font-family: "Roboto", sans-serif; }

.box {
  cursor: help;
  border-bottom: 1px dashed white; }

img {
  max-width: 100%; }
  img.small {
    margin: 15px 0;
    width: 50%; }

table {
  margin-top: 10px;
  width: 90%;
  margin-left: 5%;
  font-family: "Didact Gothic", sans-serif;
  background-color: transparent; }
  table tbody {
    border: 1px solid rgba(68, 68, 255, 0.3);
    background-color: transparent; }
    table tbody tr {
      -webkit-transition: all .1s;
      -moz-transition: all .1s;
      transition: all .1s; }
      table tbody tr:nth-child(even) {
        background-color: rgba(68, 68, 255, 0.05); }
        table tbody tr:nth-child(even):hover {
          background-color: rgba(68, 68, 255, 0.08); }
      table tbody tr:nth-child(odd) {
        background-color: rgba(68, 68, 255, 0.1); }
        table tbody tr:nth-child(odd):hover {
          background-color: rgba(68, 68, 255, 0.13); }
  table td, table tr {
    background-color: transparent; }
  table.last-right td:last-of-type {
    text-align: right; }

.logo {
  position: absolute;
  margin: 5px 10px;
  font-family: "BankGothic", sans-serif;
  color: white;
  font-size: 32px; }

.responsive-image {
  max-width: 100%; }

.center {
  text-align: center; }

.body {
  margin-top: 40px; }

#maintitle {
  display: inline-block;
  font-family: "Didact Gothic", sans-serif;
  font-size: 142px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 12px;
  position: relative;
  opacity: 0.25;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  transition: all 2s ease; }
  #maintitle:after {
    display: block;
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background-color: white;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translate(-51%, 0);
    -moz-transform: translate(-51%, 0);
    -ms-transform: translate(-51%, 0);
    transform: translate(-51%, 0); }
  #maintitle.wide {
    opacity: 1;
    letter-spacing: 72px; }
    #maintitle.wide:after {
      left: 45%;
      width: 100%; }

.title {
  margin: 0;
  font-size: 72px;
  font-family: "BankGothic", sans-serif;
  text-transform: uppercase; }

.subtitle {
  margin: 0;
  margin-top: -20px;
  display: block;
  font-family: "Play", sans-serif;
  font-size: 40px;
  letter-spacing: 1px; }

.minititle {
  display: block;
  font-family: "Play", sans-serif;
  font-size: 18px; }

.mars-image {
  max-width: 80%; }

.mars-info {
  margin-top: 40px;
  position: relative; }
  .mars-info.reverse {
    margin-top: 10px; }
    .mars-info.reverse img {
      margin-top: 90px;
      position: absolute;
      right: 0; }
  .mars-info .content {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Didact Gothic", sans-serif; }
    .mars-info .content.reverse {
      position: relative;
      left: 0;
      right: auto;
      text-align: left; }
    .mars-info .content ul {
      width: 320px;
      display: inline-block;
      padding: 0;
      margin-right: 0;
      margin-left: auto;
      list-style: none; }
      .mars-info .content ul.small {
        width: 240px; }
      .mars-info .content ul.wide {
        width: 440px; }
      .mars-info .content ul.verywide {
        width: 620px; }
      .mars-info .content ul li {
        margin-top: 5px;
        display: block; }
        .mars-info .content ul li:after {
          visibility: hidden;
          display: block;
          font-size: 0;
          content: " ";
          clear: both;
          height: 0; }
    .mars-info .content .point {
      display: block;
      float: left;
      text-transform: uppercase;
      margin-right: 20px; }
      .mars-info .content .point.small {
        text-transform: lowercase; }
    .mars-info .content .value {
      display: block;
      float: right;
      text-align: right; }

.moons .mars-info {
  margin-top: 0px; }
  .moons .mars-info .content {
    margin-top: 120px; }
  .moons .mars-info.reverse {
    text-align: right; }
    .moons .mars-info.reverse .content {
      margin-top: 0px; }

footer {
  margin-top: 150px;
  text-align: center;
  background-color: #000; }
  footer .top {
    background-image: url("../img/footer.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    position: relative; }
    footer .top:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 300%;
      background-image: -webkit-linear-gradient(top, transparent 70%, #000 100%);
      background-image: -moz-linear-gradient(top, transparent 70%, #000 100%);
      background-image: linear-gradient(to bottom, transparent 70%, #000 100%);
      background-repeat: repeat-x;
      background-repeat-x: repeat;
      background-repeat-y: no-repeat;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FF000000', GradientType=0);
      z-index: 1; }
  footer .row {
    padding-top: 20px;
    padding-bottom: 20px; }
    footer .row .logo {
      position: relative; }
    footer .row ul {
      list-style: none;
      text-align: left; }
      footer .row ul a {
        color: white; }
        footer .row ul a:hover {
          text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
